.tarefas {
    margin-top: 30px;
}

.tarefas :hover {
    background-color: #ccc;
    transition: all 400ms;
}

.tarefas li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
}

.tarefas li :hover {
    cursor: pointer;
    transition: all 400ms;
}

.tarefas li .edit {
    margin-right: 15px;
    color: #51c5de;
}

.tarefas li .delete {
    color: #f04c64;
}

.tarefas li span {
    display: flex;
    align-items: center;
}